In [ ]:
# Progress check
# Review week 2
# Excercise maybe?
# Problems in project

## Conditional Statements

In [4]:
'''
if <expr>:
    <statement>
'''

var = 7

if var > 5:
    print(f'Variable is greater than 5')

Variable is greater than 5

In [3]:
var < 5

True

In [5]:
# https://realpython.com/python-conditional-statements/

name = 'Joe'

if name == 'Fred':
    print('Hello Fred')
    
elif name == 'Xander':
    print('Hello Xander')
    
elif name == 'Joe':
    print('Hello Joe')
    
else:
    print("I don't know who you are!")

Hello Joe

In [7]:
if True:
    print('True')

True

## For Loops

In [8]:
# https://www.programiz.com/python-programming/for-loop

# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [1, 2, 3, 4, 5]

# iterate over the list
for num in numbers:
    print(num)

1
2
3
4
5

In [15]:
numbers = [5, 15, 3, 'odd', 'even', 'sixth']

for i in range(1, 6, 2):
    print(numbers[i])

15
odd
sixth

In [19]:
numbers = ['odd', 'even', 'sixth']

for num in numbers:
    print(str(num).upper())

ODD
EVEN
SIXTH

In [9]:
# iterables -> range function
# range(start, stop, step)
range(5)

range(0, 5)

In [ ]:
for i in range(5):
    print(i)

In [22]:
cost_dict.keys()

dict_keys(['Bread', 'Milk', 'Eggs', 'Water'])

In [23]:
# calculate total

cost_dict = {
    'Bread': 250,
    'Milk': 310,
    'Eggs': 150,
    'Water': 280
}

total = 0
quant = [1, 2, 1, 5]

counter = 0
total = 0

for item in cost_dict.keys():
    # line of code
    total += cost_dict[item] * quant[counter]
    counter += 1
    
print(total)
print(250*1 + 310*2 + 150*1 + 280*5)

2420
2420

In [ ]:
# enumerate

In [24]:
names = ['Abid', 'Abdur', 'Rahman']

for counter, name in enumerate(names):
    print(counter, name)

0 Abid
1 Abdur
2 Rahman

In [ ]:
## improve using enumerate
total += cost_dict.get(item, 0)*quant[counter]
    total += cost_dict[item]*quant[counter]

In [25]:
total = 0

for counter, item in enumerate(cost_dict.keys()):
    # line of code
    total += cost_dict[item]*quant[counter]
    
total

2420

In [ ]:
## improve using zip

In [27]:
letters = ['a', 'b', 'c']
nums = (1, 2, 3)
nums2 = [2, 4, 6]

for letter, num, num2 in zip(letters, nums, nums2):
    print(f"{letter}: {num}, {num2}")

a: 1, 2
b: 2, 4
c: 3, 6

In [26]:
letters = ['a', 'b', 'c']
nums = (1, 2, 3)
nums2 = [2, 4, 6]

for i in range(3):
    print(letters[i], nums[i], nums2[i])

a 1 2
b 2 4
c 3 6

## While Loop

In [29]:
# simple example

count = 0

while count < 5:
    print(count, " is  less than 5")
    count = count + 1

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5

## Break and Continue

In [30]:
# break

count = 0

while count < 5:
    count += 1
    if count == 3:
        print('Count is 3: End loop now!')
        break
    print(count, " is  less than 5")

1  is  less than 5
2  is  less than 5
Count is 3: End loop now!

In [31]:
for i in range(3): # i=1
    for j in range(3): # j=1
        if i == 1 and j == 1:
            break
        else:
            print(i, j)

0 0
0 1
0 2
1 0
2 0
2 1
2 2

In [32]:
# continue

count = 0

while count < 5:
    count += 1
    if count == 3:
        print('Count is 3: Ignore further statements in this iteration')
        continue
    print(count, " is  less than 5")

1  is  less than 5
2  is  less than 5
Count is 3: Ignore further statements in this iteration
4  is  less than 5
5  is  less than 5

In [41]:
new_name = ["Rick Sanchez", "Morty Smith"]

new_name[0]

'Rick Sanchez'

In [38]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

firstnamecap = []
for name in names:
    firstnamecap.append(name.split()[0].upper())
firstnamecap

['RICK', 'MORTY', 'SUMMER', 'JERRY', 'BETH']

In [ ]:
## List Comprehension

In [43]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]


first_names = [name.split()[1].upper() for name in names]
print(first_names)

['SANCHEZ', 'SMITH', 'SMITH', 'SMITH', 'SMITH']

In [44]:
# example

blacklist = ['Summer', 'Jerry']

first_names = [name.split()[0].lower() for name in names if name.split()[0] not in blacklist]
print(first_names)

['rick', 'morty', 'beth']

## Fucntions

In [ ]:
# optimize and organaize code

In [60]:
new_val = input()
print(f'Input from user = {new_val}')

5
Input from user = 5

In [52]:
def cylinder_volume(height, radius, pi=3.14): #--> header
#     pi = 3.14159
    volume = height * pi * radius ** 2
    return volume

In [55]:
# usage and difference between print and return

vols = cylinder_volume(4, 2) # --> function call
print(vols)

50.24

In [62]:
height = input()

print(cylinder_volume(float(height), 2))

4
50.24

### Variable Scope

In [74]:
egg_count = 0

def buy_eggs(egg_count):
    egg_count += 12 # purchase a dozen egg
    print(egg_count)

buy_eggs(egg_count)
print(egg_count)

12
0

In [75]:
egg_count = 0

def buy_eggs(egg_count):
    egg_count += 12 # purchase a dozen egg
    return egg_count

count = buy_eggs(egg_count)
print(count)
print(egg_count)

12
0

In [78]:
egg_count_list = [1, 3]

def buy_eggs(count_list):
    for i in range(len(count_list)):
        count_list[i] += 12
#     return egg_count

buy_eggs(egg_count_list)

print(egg_count_list)

[13, 15]

In [ ]:
egg_count = 0

def buy_eggs(count):
    return count + 12  # purchase a dozen eggs

egg_count = buy_eggs(egg_count)

print(egg_count)

In [79]:
# check for understanding
# example 1:

str1 = 'Functions are important programming concepts.'

def print_fn():
    str1 = 'Variable scope is an important concept.'
    print(str1)

print_fn()

Variable scope is an important concept.

In [81]:
# example 2:

str1 = 'Functions are important programming concepts.'

def print_fn():
    print(str1)

print_fn(str1)

TypeError: print_fn() takes 0 positional arguments but 1 was given

### Good Practice: Documentation using docstring

In [ ]:
def population_density(population, land_area):
    """Calculate the population density of an area.

    INPUT:
    population: int. The population of that area
    land_area: int or float. This function is unit-agnostic, if you pass in values in terms
    of square km or square miles the function will return a density in those units.

    OUTPUT: 
    population_density: population / land_area. The population density of a particular area.
    """
    return population / land_area

In [ ]:
# improved readability
# eaisier to collaborate

### Lambda expressions: anonymous functions

In [82]:
rect_area = lambda l, b: l*b

rect_area(2, 3)

6

In [87]:
def myfunc(n):
    return len(n)

fruits = ('apple', 'banana', 'cherry')

x = list(map(myfunc, fruits))
print(x)

[5, 6, 6]

In [88]:
# rewrite using lambda fn

list(map(lambda x: len(x), (('apple', 'banana', 'cherry'))))

[5, 6, 6]

In [89]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]


def myfunc(n):
    if n % 2 != 0:
        return True
    else:
        return False
    
# result contains odd numbers of the list
result = filter(myfunc, seq)
print(list(result))

[1, 3, 5, 13]

In [90]:
# rewrite using lambda fn

seq = [0, 1, 2, 3, 5, 8, 13]

    
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

[1, 3, 5, 13]

In [93]:
def my_new_fn():
    pass